version: '3'
services:
  # Application Dockerfile is in same folder which is .
  app:
    build: .
    stdin_open: true # docker run -i   # can remove if not using menu
    tty: true        # docker run -t   # can remove if not using menu

  # db is is db folder
  db:
    build: db/.
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - "33060:3306"
