name: A workflow for  World Database App
on:
  push:

jobs:
  UnitTests:
    name: Unit Tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Unit Tests
        run: |
          mvn -Dtest=com.napier.sem.CountryReportTests test
          mvn -Dtest=com.napier.sem.TotalPopulationTests test
          mvn -Dtest=com.napier.sem.CityReportTests test
          mvn -Dtest=com.napier.sem.LanguageReportTests test
          mvn -Dtest=com.napier.sem.UrbanReportTests test
      - name: CodeCov
        uses: codecov/codecov-action@v2
        with:
          # token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          directory: ./target/site/jacoco
          flags: Unit Tests # optional
          verbose: false # optional (default = false)


  IntegrationTests:
    name: Integration Tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Integration Tests and CodeCov
        run: |
          docker build -t database ./db
          docker run --name world -dp 33060:3306 database
          mvn -Dtest=com.napier.sem.AppIntegrationTest test
          docker stop world
          docker rm world
          docker image rm database
      - name: CodeCov
        uses: codecov/codecov-action@v2
        with:
          # token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          directory: ./target/site/jacoco
          flags: Integration_Tests # optional
          verbose: false # optional (default = false)


  build:
    name: Build Run in Docker and Deploy Release
    runs-on: ubuntu-20.04
#    if: github.ref_name == 'release'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Package and Run docker compose
        run: |
          mvn package -DskipTests
          docker-compose up --abort-on-container-exit
#      - uses: "marvinpinto/action-automatic-releases@latest"
#        with:
#          repo_token: "${{ secrets.SECRET_TOKEN }}"
#          prerelease: false
#          automatic_release_tag: "latest"
#          files: |
#            ./target/*.jar
      - name: Copy Output
        run: docker cp set08103_app_1:./tmp/reports/. ./reports
#        run: docker cp softwareem-group-project-app-1:/tmp/reports/. ./reports